body {
    font-family: sans-serif;
    font-size: 24px;
  }
  
  table {
    text-align: center;
    border: 2px solid black;
}

tr, td {
    border: 2px solid black;
}
  
  input {
    height: 30px;
    font-size: 24px;
}

.fa-solid {
  color: red;
}

.central {
  width: 300px;
  margin: 0 auto;
}